@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Only hide default cursor on desktop devices */
@media (min-width: 768px) {
  body {
    cursor: none;
  }
  
  a, button, input, textarea {
    cursor: none;
  }
}